/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: 'Kodemono';
    color: #333;
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

body {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: auto;
}

button {
    background-color: #fdfdfd;
    columns: #102f5e;
    border: 2x solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border-radius: 2rem;
    border: 0px;
    box-shadow: 0px 5px 2px 1px hsl(0, 0%, 76%);
    width: 2.5rem;
    height: 2.5rem;
}

button:hover {
    background-color: #102f5e;
    color: #fff;
}

button:hover > i {
    color: #fff;
}

button i {
    color: #102f5e;
    font-weight: bold;
    pointer-events: none; /*Retirando eventos de clique no ícone*/
}

input, select {
    padding: 0.25rem 0.5rem;
}

/* To Do Header*/
.to-do-container {
   max-width: 700px;
   margin: 3rem auto;
   background-color: #fdfdfd;
   padding: 2rem 1.5rem;
   border-radius: 20px; 
   opacity: 92%;
   position: relative;
}

#edit-title-button {
    position: absolute;
    right: -10%;
    top: 4%;
    width: 50px;
    height: 50px;
}

.to-do-container header {
    text-align: center;
    padding: 0 1rem 1rem ;
    border-bottom: 1px solid #ccc;
}

/* To Do Form*/
#to-do-form, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#to-do-form p,
#edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
}

#to-do-form input {
    font-size: 1rem;
}

#edit-form input {
    font-size: 1rem;
    height: 3rem;
    padding-left: 1.5rem;
}

.input-default-style {
    padding-left: 1rem;;
    border-radius: 2rem;
    border: 0px;
    box-shadow: 0px 5px 10px 1px hsl(0, 0%, 76%);
    transition: .2s;
}

.input-default-style:hover {
    background-color: hsl(0, 0%, 90%);
}

.input-default-style:focus {
    outline: none;
}



#edit-title-form {
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

#edit-title-form input {
    padding-left: 2rem;
    width: 100%;
    height: 3rem;
    font-size: 1.3rem;
    margin: 0rem 1rem;
}

#edit-title-form input:hover {
    margin: 0rem;
}

#edit-title-form input:focus {
    outline: none;
}

#edit-title-form button {
    width: 10%;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.form-control input {
    margin-right: 0.5rem;
    width: 90%;
    height: 2.4rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/* To Do Toolbar */
#toolbar {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
    justify-content: space-around;
}

#search input {
    width: 100%;
    margin-right: 1rem;
    font-size: 1rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}


#filter select {
    flex: 1;
    font-size: 1rem;
    color: #777;
    appearance: none;
}

#filter select option {
    color: #777;
}

/* To Do List */
.to-do {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    transition: .3s;   
    border-radius: 1rem;
    transition: .4s;
    margin-top: 0.5rem;
}

.to-do:hover {
    background-color: #ccc;
}

.name-date-to-do {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.name-date-to-do h3 {
    flex: 1;
    font-size: 1.2rem;
}
.name-date-to-do p {
    margin-top: .2rem;
    font-size: .7rem;
    color: #777;
}

.to-do button {
    margin-left: 0.4rem;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}